body{
    background: #F3F5FC;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    margin-top: 70px;
}

.logo{
    width: 200px;
}

.main{
    display: flex;
    flex-direction: column;
}
.textoArea{
    height: 450px;
}
.texto{
    width: 577px;
    height: 380px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-right: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;
    background: none;

    color: #0A3871;
}
.texto::placeholder{
    color: #0A3871;
}

.simbolo{
    width: 10px;
    display: inline-block
}

.botones{
    display: flex;
    flex-direction: column;
}

.boton{

    text-align: center;
    padding: 24px;

    background: #0A3871;
    border-radius: 24px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;

    width: 280px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    text-decoration: none;
    border: none;

    color: #FFFFFF;
}

.boton:hover {
    background-color: #5d84b4; 
    color: white;
  }

.contenidoTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width: 300px;
    height: auto;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    text-align: center;
    color: #495057;
    font-size: 24px;

    
}

.muñeco{
    width: 200px;
}

h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    color: #343A40;

    margin-top: 10px;
    margin-bottom: 10px;
}

.texto2{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #495057;
}
#boton_copiar{

    position: relative;

    text-align: center;
    padding: 24px;

    background: #ffffff;
    border-radius: 24px;
    margin: 50px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    

    width: 280px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    text-decoration: none;
    border: none;

    color: #0A3871;
}
#boton_copiar:hover{
    scale: 1.07;
}
#boton_copiar:active{
    scale: 1;
    transition: 0.01s;
}

/*clases nuevas*/

.cssInsertado{

    display: flex;
    width: auto;
    /* Control de la altura con base en el texto del div*/
    height: auto;
    word-wrap: break-word;
    margin-top: 20px;

}



/*RESPONSIVE*/

.estiloInsertado{

    background-color: aqua;
}

/*TABLET 1*/

@media only screen and (max-width:768px) and (max-height:1174px){

    body{
        height: 100%;
        width: 100%;
    }

    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container img{
        margin-left: 40px;
    }

    .container .textoArea{
        margin-left: 40px;
        height: 600px;
    }

    .container .contenidoTexto{
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .contenidoTexto{
        display: flex;
        width: 688px;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 64px 40px 40px 40px;



    }
    .contenidoTexto .contenido{
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: 20px;

    }


    #boton_copiar{
        margin-top: 50px;
    }

    .muñeco{
        display: none;
    }

    .botones .contenedor_botones{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    .botones{
        display: flex;
        margin: 0 40px 0 40px;
        justify-content: space-around;
    }

    .contenedor_copiar{
        margin-top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #boton_copiar{
        margin: 20px;
        bottom: 0%;
        position: relative;
        left: auto;
        top: auto;
    }

    .boton{
        width: 322px;
    }
    
    .main{
        display: flex;

    }

    .cssInsertado{

        display: flex;
        width: auto;
        /* Control de la altura con base en el texto del div*/
        height: auto;
        word-wrap: break-word;
        margin-top: 20px;
    
    }
}

/*TABLET 2*/

@media only screen and (max-width:768px) and (max-height:1384px){

    body{
        height: 100%;
        width: 100%;
    }

    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container img{
        margin-left: 40px;
    }

    .container .textoArea{
        margin-left: 40px;
        height: 600px;
        font-size: 80px;
    }

    .textoArea #texto{

        font-size: 32px;
    }

    .container .contenidoTexto{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenidoTexto{
        width: 688px;
        height: auto;
        display: flex;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 64px 40px 40px 40px;



    }
    .contenidoTexto .contenido{
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: 20px;

    }

    
    #boton_copiar{
        margin-top: 50px;
    }

    .muñeco{
        display: none;
    }

    .botones .contenedor_botones{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    .botones{
        display: flex;
        margin: 0 40px 0 40px;
        justify-content: space-around;
    }

    .contenedor_copiar{
        margin-top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #boton_copiar{
        margin: 20px;
        bottom: 0%;
        position: relative;
        left: auto;
        top: auto;
    }

    .boton{
        width: 322px;
    }
    
    .main{display: flex;}

    .cssInsertado{

        display: flex;
        width: auto;
        /* Control de la altura con base en el texto del div*/
        height: auto;
        word-wrap: break-word;
        margin-top: 20px;
    
    }

}

/*MOVIL 1*/

@media only screen and (max-width:375px) and (max-height:933px){

    body{
        height: 100%;
        width: 100%;
    }

    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    .container img{
        width: 32px;
        height:48px;
        margin-left: 16px;
    }

    .container .textoArea{
        margin-left: 0%;
        margin: 0 16px 0 16px;
        height: 299px;
        font-size: 80px;
    }


    .textoArea #texto{

        font-size: 16px;
    }

    .texto{
        width: 343px;
        height: 220px;
    }

    .container .simbolo{
        width: 16px;
        height: 16px;
    }

    .container .parrafo1{
        font-size: 12px;
    }

    .container .contenidoTexto{
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .contenidoTexto{
        width: 327px;
        height: auto;
        display: flex;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px 24px 20px 24px;

    }
    .contenidoTexto #contenido{
        display: flex;
        height: auto;
        width: 263px;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: 20px;


    }

    #boton_copiar{
        margin-top: 50px;
    }

    .muñeco{
        display: none;
    }

    .botones .contenedor_botones{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    .botones{
        display: flex;
        margin: 0 16px 0 16px;
        justify-content: space-around;
    }

    .contenedor_botones .boton{
        padding: 24px;
        width: 343px;
        height: 67px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .contenedor_copiar{
        margin-top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #boton_copiar{
        margin: 20px;
        bottom: 0%;
        position: relative;
        left: auto;
        top: auto;
    }

    .main{
        display: flex;
    }

    .cssInsertado{

        display: flex;
        width: auto;
        /* Control de la altura con base en el texto del div*/
        height: auto;
        word-wrap: break-word;
        margin-top: 20px;
    
    }

}

/*MOVIL 2*/

@media only screen and (max-width:375px) and (min-height:1715px){

    body{
        height: 100%;
        width: 100%;
    }

    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    .container img{
        width: 30.43px;
        height:46.18px;
        margin-left: 16px;
    }

    .container .textoArea{
        margin: 14px;
        height: 624px;
        font-size: 80px;
    }


    .textoArea #texto{

        font-size: 32px;
        margin: 0%;
    }

    #texto{
        width: 343px;
        margin: 0%;
        height: 100%;
    }

    textarea #texto{
        height: 624px;
    }

    .container .simbolo{
        width: 16px;
        height: 16px;
    }

    .contenedor_botones{
        display: flex;
        height: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .boton{
        width: 343px;
        height: 67px;
        border-radius: 24PX;
    }

    .container .parrafo1{
        font-size: 12px;
    }

    .container .contenidoTexto{
        display: flex;
        height: 595px;
        justify-content: center;
        align-items: center;
    }

    .contenidoTexto{
        width: 327px;
        height: 595px;
        display: flex;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 64px 24px 20px 24px;

    }
    
    .contenidoTexto #contenido{
        display: flex;
        height: 595px;
        width: 263px;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: 20px;
    }

    .muñeco{display: none;}

    .cssInsertado{

        display: flex;
        width: auto;
        /* Control de la altura con base en el texto del div*/
        height: auto;
        word-wrap: break-word;
        margin-top: 20px;
    
    }

}